<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>gPassword Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .incard-margin {
            margin: 14px 0;
        }
        @media (min-width: 992px) {  /* breakpoint: lg */
            .incard-margin {
                margin: 25px 0;
            }
        }
        .br {
            margin: 10px 0;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script>{% include gpw/js/jssha.js %}</script>
    <script>{% include gpw/js/base64.js %}</script>
    <script>{% include gpw/js/gpwcore.js %}</script>
    <script>

        var targetLength = 32;
        var chars = CHARS;

        function refreshOutput () {
            var password = $('#password').val(), key = $('#key').val();
            if (!password || !key) {
                return;
            }
            $('#output').val(gpw(password, key, targetLength, chars));
        }

        $('document').ready(function () {

            $targetLengthSelector = $('#target-length-selector');
            $copyIcon = $('#copy-icon');
            $password = $('#password');
            $visibilityIcon = $('#visibility-icon');
            $visibilityButton = $('#visibility-button');

            $('#password, #key').bind('keyup paste', function () {
                refreshOutput();
            });

            $('#output').focus(function () {
                this.select();
            });

            $('#16, #24, #32').bind('click keyup', function () {
                targetLength = parseInt($(this).attr('id'));
                refreshOutput();
            });

            $('#standard').bind('click keyup', function () {
                chars = CHARS;
                refreshOutput();
            });

            $('#weaker').bind('click keyup', function () {
                chars = CHARS_WEAKER;
                refreshOutput();
            });

            $('#gpw-copy').click(function () {
                var output = $('#output');
                if (0 === output.val().length) {
                    return;
                }

                output.select();
                var success = document.execCommand('copy');

                if (success) {
                    $(this).removeClass('btn-light')
                        .addClass('btn-success');
                    $copyIcon.text('done');
                } else {
                    $(this).removeClass('btn-light')
                        .addClass('btn-danger');
                    $copyIcon.text('error');
                }

                setTimeout(function () {
                    $('#gpw-copy').removeClass('btn-success btn-danger')
                        .addClass('btn-light');
                    $copyIcon.text('content_copy');
                }, 1000);

            });

            $visibilityButton.click(function () {
                if ($password.attr('type') === 'password') {
                    $password.attr('type', 'text');
                    $visibilityIcon.text('visibility_off');
                } else {
                    $password.attr('type', 'password');
                    $visibilityIcon.text('visibility');
                }
            });

        });
    </script>
    {% if site.githubio_https_redirect %}
      <script>
        if (window.location.host.indexOf('github.io') > -1 && window.location.protocol != "https:"){
            window.location.protocol = "https";
        }
      </script>
    {% endif %}
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');

      </script>
    {% endif %}
</head>
<body>
<div class="container" style="max-width: 576px;">
    <div class="d-block d-lg-none" style="margin-bottom: 10px;"></div>
    <div class="d-none d-lg-block" style="margin-bottom: 50px;"></div>
    <div class="card" style="margin-bottom: 10px; padding-left: 30px; padding-right: 30px;">
        <div class="incard-margin"></div>
        <h2>gPw Web</h2>
        <hr style="width: 100%; margin: 25px 0 35px 0;">
        <div class="input-group">
            <input type="password" class="form-control" placeholder="Password" id="password" autofocus/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-outline-secondary" tabindex="-1" style="padding-top: 5px;" id="visibility-button"><i class="material-icons align-text-bottom" id="visibility-icon">visibility</i></button>
        </span>
        </div>
        <div class="br"></div>
        <input type="text" class="form-control" placeholder="Key" id="key"/>
        <div class="br"></div>
        <div class="row align-items-center">
            <div class="col-7">
                <span>Target Length</span>
            </div>
            <div class="col-5">
                <div class="btn-group float-right" id="target-length-selector" data-toggle="buttons" style="margin-left: 20px;">
                    <label class="btn btn-light" id="16">
                        <input type="radio" name="target-length"> 16
                    </label>
                    <label class="btn btn-light" id="24">
                        <input type="radio" name="target-length"> 24
                    </label>
                    <label class="btn btn-light active" id="32">
                        <input type="radio" name="target-length"> 32
                    </label>
                </div>
            </div>
        </div>
        <div class="br"></div>
        <div class="row align-items-center">
            <div class="col-4">
                <span class="d-none d-sm-block">Chars Allowed</span>
                <span class="d-block d-sm-none">Charset</span>
            </div>
            <div class="col-8">
                <div class="btn-group float-right" id="chars-selector" data-toggle="buttons" style="margin-left: 20px;">
                    <label class="btn btn-light active" id="standard">
                        <input type="radio" name="chars"> gPw Standard
                    </label>
                    <label class="btn btn-light" id="weaker">
                        <input type="radio" name="chars"> Weaker
                    </label>
                </div>
            </div>
        </div>
        <div class="br"></div>
        <div class="row align-items-center">
            <div class="col-2">
                <span style="white-space: nowrap;">gPw</span>
            </div>
            <div class="col-10">
                <div class="input-group">
                    <input type="text" class="form-control" id="output" readonly/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-light" id="gpw-copy">
                            <i class="material-icons align-text-bottom" id="copy-icon">content_copy</i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="incard-margin"></div>
    </div>
    <div class="row">
        <div class="col-8">
            <!--<a class="text-secondary" href="#" onclick="$(this).html('//TODO :P');">Python</a>-->
            <!--<span class="text-secondary"> | </span>-->
            <!--<a class="text-secondary" href="#" onclick="$(this).html('//TODO :P');">CLI</a>-->
            <!--<span class="text-secondary"> | </span>-->
            <!--<a class="text-secondary" href="#" onclick="$(this).html('//TODO :P');">Javascript</a>-->
            <!--<span class="text-secondary"> | </span>-->
            <!--<a class="text-secondary" href="#" onclick="$(this).html('//TODO :P');">Web</a>-->
            <!--<span class="text-secondary"> | </span>-->
            <!--<a class="text-secondary" href="#" onclick="$(this).html('//TODO :P');">Chrome</a>-->
        </div>
        <div class="col-4">
            <a class="float-right text-secondary" href="/gpw-about" target="_blank">About</a>
        </div>
    </div>
</div>
</body>
</html>
