---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta" style="line-height: 25px;">{{ page.date | date: "%-d %b, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% if page.tags.size > 0 %}
      <p class="post-meta" style="line-height: 15px;">Tags • 
      {% for item in page.tags %}
        <a href="{{ baseurl }}/tags/#{{ item }}-ref">{{ item }}</a>
      {% endfor %}
      </p>
    {% endif %}
    {% if page.categories.size > 0 %}
      <p class="post-meta" style="line-height: 10px;">Categories • 
      {% for item in page.categories %}
        <a href="{{ baseurl }}/categories/#{{ item }}-ref">{{ item }}</a>
        {% unless forloop.last %}
          >
        {% endunless %}
      {% endfor %}
      </p>
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  {% if page.tags.size > 0 || page.categories.size > 0 %}
    <br />
  {% endif %}
  
  {% if page.tags.size > 0 %}
    <p class="post-meta" style="line-height: 15px;">Tags • 
    {% for item in page.tags %}
      <a href="{{ baseurl }}/tags/#{{ item }}-ref">{{ item }}</a>
    {% endfor %}
    </p>
  {% endif %}
  {% if page.categories.size > 0 %}
    <p class="post-meta" style="line-height: 10px;">Categories • 
    {% for item in page.categories %}
      <a href="{{ baseurl }}/categories/#{{ item }}-ref">{{ item }}</a>
      {% unless forloop.last %}
        >
      {% endunless %}
    {% endfor %}
    </p>
  {% endif %}

</div>
